In [7]:
!pip install pandas
import pandas as pd

Collecting pandas
  Using cached pandas-1.4.3-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (11.7 MB)
Collecting pytz>=2020.1
  Downloading pytz-2022.1-py2.py3-none-any.whl (503 kB)
     |████████████████████████████████| 503 kB 3.7 MB/s eta 0:00:01
Collecting numpy>=1.18.5
  Using cached numpy-1.23.0-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (17.1 MB)
Requirement already satisfied: python-dateutil>=2.8.1 in /home/studio-lab-user/.conda/envs/default/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /home/studio-lab-user/.conda/envs/default/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: pytz, numpy, pandas
Successfully installed numpy-1.23.0 pandas-1.4.3 pytz-2022.1

In [12]:
import sqlite3
con = sqlite3.connect('data-mysqlite/eicu_v2_0_1.sqlite3')

cur = con.cursor()

In [16]:
patients = cur.execute('''SELECT * FROM patient''')
patients_cols = list(map(lambda x: x[0], cur.description))
patients = pd.DataFrame(patients, columns=patients_cols)
patients

,patientunitstayid,patienthealthsystemstayid,gender,age,ethnicity,hospitalid,wardid,apacheadmissiondx,admissionheight,hospitaladmittime24,...,unitadmitsource,unitvisitnumber,unitstaytype,admissionweight,dischargeweight,unitdischargetime24,unitdischargeoffset,unitdischargelocation,unitdischargestatus,uniquepid
0,141764,129391,Female,87,Caucasian,59,91,,157.5,23:36:00,...,ICU to SDU,2,stepdown/other,,,18:58:00,344,Home,Alive,002-1039
1,141765,129391,Female,87,Caucasian,59,91,"Rhythm disturbance (atrial, supraventricular)",157.5,23:36:00,...,Emergency Department,1,admit,46.5,45,13:14:00,2250,Step-Down Unit (SDU),Alive,002-1039
2,143870,131022,Male,76,Caucasian,68,103,"Endarterectomy, carotid",167,20:46:00,...,Operating Room,1,admit,77.5,79.4,10:00:00,793,Floor,Alive,002-12289
3,144815,131736,Female,34,Caucasian,56,82,"Overdose, other toxin, poison or drug",172.7,01:44:00,...,Emergency Department,1,admit,60.3,60.7,20:48:00,1121,Other External,Alive,002-1116
4,145427,132209,Male,61,Caucasian,68,103,"GI perforation/rupture, surgery for",177.8,23:48:00,...,Operating Room,1,admit,91.7,93.1,22:47:00,1369,Floor,Alive,002-12243
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2515,3351763,2741766,Female,62,Caucasian,459,1108,"Fistula/abscess, surgery for (not inflammatory...",165.1,16:08:00,...,Operating Room,1,admit,134.5,133.3,19:24:00,5394,Step-Down Unit (SDU),Alive,035-10391
2516,3352230,2742186,Male,41,African American,458,1107,"CABG alone, coronary artery bypass grafting",177.8,21:21:00,...,Operating Room,2,transfer,127,128.5,21:34:00,4261,Telemetry,Alive,035-10089
2517,3352231,2742186,Male,41,African American,458,1104,"Infarction, acute myocardial (MI)",177.8,21:21:00,...,Direct Admit,1,admit,127,135.2,22:26:00,1369,Other ICU,Alive,035-10089
2518,3352333,2742269,Male,72,Caucasian,458,1111,GI obstruction,177.8,20:00:00,...,Other Hospital,1,admit,68.3,66.5,17:26:00,4166,Floor,Alive,035-10041
2519,3353113,2742979,Male,50,Caucasian,459,1108,Drug withdrawal,188,17:33:00,...,Floor,1,admit,88,83.9,18:45:00,2694,Telemetry,Alive,035-10030

In [24]:
patients_int = ['patientunitstayid', 'gender', 'age', 'ethnicity', 'hospitalid', 'admissionheight', 'hospitaladmitsource', 'hospitaldischargelocation', 'unittype', 'unitadmitsource','admissionweight']
input_information = patients[patients_int]
input_information

,patientunitstayid,gender,age,ethnicity,hospitalid,admissionheight,hospitaladmitsource,hospitaldischargelocation,unittype,unitadmitsource,admissionweight
0,141764,Female,87,Caucasian,59,157.5,,Home,Med-Surg ICU,ICU to SDU,
1,141765,Female,87,Caucasian,59,157.5,,Home,Med-Surg ICU,Emergency Department,46.5
2,143870,Male,76,Caucasian,68,167,Operating Room,Home,SICU,Operating Room,77.5
3,144815,Female,34,Caucasian,56,172.7,Emergency Department,Other Hospital,Med-Surg ICU,Emergency Department,60.3
4,145427,Male,61,Caucasian,68,177.8,Emergency Department,Home,SICU,Operating Room,91.7
...,...,...,...,...,...,...,...,...,...,...,...
2515,3351763,Female,62,Caucasian,459,165.1,Operating Room,Home,Med-Surg ICU,Operating Room,134.5
2516,3352230,Male,41,African American,458,177.8,Direct Admit,Home,CTICU,Operating Room,127
2517,3352231,Male,41,African American,458,177.8,Direct Admit,Home,Cardiac ICU,Direct Admit,127
2518,3352333,Male,72,Caucasian,458,177.8,Other Hospital,,SICU,Other Hospital,68.3
2519,3353113,Male,50,Caucasian,459,188,Floor,Home,Med-Surg ICU,Floor,88

In [25]:
hospitals = cur.execute('''SELECT * FROM hospital''')
hospitals_cols = list(map(lambda x: x[0], cur.description))
hospitals = pd.DataFrame(hospitals, columns=hospitals_cols)
hospitals

     hospitalid numbedscategory teachingstatus   region
0            56            <100              f  Midwest
1            58       100 - 249              f  Midwest
2            59            <100              f  Midwest
3            60            <100              f  Midwest
4            61            <100              f  Midwest
..          ...             ...            ...      ...
181         445       100 - 249              f  Midwest
182         449          >= 500              t  Midwest
183         452                              f  Midwest
184         458          >= 500              f    South
185         459       100 - 249              f    South

[186 rows x 4 columns]

In [28]:
input_information = pd.merge(input_information, hospitals, on="hospitalid", how="left")
input_information

,patientunitstayid,gender,age,ethnicity,hospitalid,admissionheight,hospitaladmitsource,hospitaldischargelocation,unittype,unitadmitsource,admissionweight,numbedscategory,teachingstatus,region
0,141764,Female,87,Caucasian,59,157.5,,Home,Med-Surg ICU,ICU to SDU,,<100,f,Midwest
1,141765,Female,87,Caucasian,59,157.5,,Home,Med-Surg ICU,Emergency Department,46.5,<100,f,Midwest
2,143870,Male,76,Caucasian,68,167,Operating Room,Home,SICU,Operating Room,77.5,<100,f,Midwest
3,144815,Female,34,Caucasian,56,172.7,Emergency Department,Other Hospital,Med-Surg ICU,Emergency Department,60.3,<100,f,Midwest
4,145427,Male,61,Caucasian,68,177.8,Emergency Department,Home,SICU,Operating Room,91.7,<100,f,Midwest
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2515,3351763,Female,62,Caucasian,459,165.1,Operating Room,Home,Med-Surg ICU,Operating Room,134.5,100 - 249,f,South
2516,3352230,Male,41,African American,458,177.8,Direct Admit,Home,CTICU,Operating Room,127,>= 500,f,South
2517,3352231,Male,41,African American,458,177.8,Direct Admit,Home,Cardiac ICU,Direct Admit,127,>= 500,f,South
2518,3352333,Male,72,Caucasian,458,177.8,Other Hospital,,SICU,Other Hospital,68.3,>= 500,f,South
2519,3353113,Male,50,Caucasian,459,188,Floor,Home,Med-Surg ICU,Floor,88,100 - 249,f,South